* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    color: #000;
}

#root {
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.container.off {
    display: none;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
}

.loader:before, .loader:after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: #000;
    -webkit-mask:repeating-linear-gradient(#000 0 10px,#0000 0 20px);
}

.loader:after {
    -webkit-mask:repeating-linear-gradient(#0000 0 10px,#000 0 20px);
    animation: l36 1.5s infinite;
}

@keyframes l36 {
    0%,
    10%  {transform: rotate(0)      translate(0)}
    35%  {transform: rotate(0)      translate(100%)}
    66%  {transform: rotate(180deg) translate(100%)}
    90%,
    100% {transform: rotate(180deg) translate(0) }
}